#content {}

.banner {}

.banner-b-r {}

.banner-b-r-t {
	width: 90%;
	padding-top: 38px;
	margin: 0 auto;
}

.banner-b-r-t span {
	float: left;
	width: 200px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	background: #f9f9f9;
	color: #333333;
}

.banner-b-r-t span.on {
	background: #FFFFFF;
	color: #DC0F50;
}

.banner-b-r-b {
	width: 90%;
	margin: 0 auto;
}

.banner-b-r-b ul {
	display: none;
}

.banner-b-r-b ul.on {
	display: block;
}

.banner-b-r-b ul li {}

.banner-b-r-b ul li a {
	display: block;
	width: 200px;
	text-align: center;
	color: #666;
}

.banner-b-r-b ul li a:hover p {
	color: #DC0F50;
}

.banner-b-r-b ul li a i {
	color: #DC0F50;
}

.content-b {
	margin: 15px 0;
}

.content-b-l {
	width: 957px;
}

.content-b-l-t {}

.content-b-l-t h2 {
	height: 32px;
	line-height: 32px;
	font-weight: normal;
}

.content-b-l-t h2 a {
	font-size: 14px;
	color: #333333;
}

.content-b-l-t h2 a:hover {
	color: #DC0F50;
}

.sort {
	height: auto;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px dashed #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.brand {
	height: auto;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.brand-l,
.sort-l {
	width: 80px;
	background: #f1f1f1;
	font-size: 14px;
	font-weight: bold;
	color: #444;
	padding-left: 10px;
	line-height: 58px;
	height: 100%;
}

.brand-r,
.sort-r {
	position: relative;
	width: 840px;
	overflow: hidden;
	position: relative;
	float: left;
	height: 58px;
	padding-left: 10px;
}

.brand-r span,
.sort-r span {
	display: block;
	padding-right: 16px;
	background: url(../img/more.png) no-repeat right -28px;
	font-size: 12px;
	color: #333;
	cursor: pointer;
	height: 16px;
	line-height: 16px;
	position: absolute;
	right: 5px;
	bottom: 20px;
}

.brand-r span.on,
.sort-r span.on {
	background-position: right 4px;
}

.sort-r ul {}

.sort-r ul li {}

.brand-r ul li a,
.sort-r ul li a {
	display: block;
	height: 22px;
	margin: 18px 35px 18px 0;
	overflow: hidden;
	float: left;
	line-height: 22px;
	font-size: 12px;
	color: #666;
	padding: 0 6px;
}

.content-b-l-m {
	margin-top: 20px;
	margin-bottom: 30px;
	height: 45px;
	border: 1px solid #e5e5e5;
	background: #f1f1f1;
}

.content-b-l-m>span {
	display: inline-block;
	width: 88px;
	height: 45px;
	overflow: hidden;
	text-align: center;
	line-height: 45px;
	font-size: 12px;
	color: #333;
	cursor: pointer;
}

.content-b-l-m>span i {
	display: inline-block;
	width: 10px;
	height: 11px;
	background: url(../img/filter_i_bg.png) no-repeat;
	margin-left: 4px;
	position: relative;
	top: 1px;
}

.content-b-l-m>span.on {
	color: #dc0f50;
	border-left: 1px solid #e5e5e5;
	background: #fff;
	border-right: 1px solid #e5e5e5;
}

.content-b-l-m>span.on i {
	background-position: 0 -11px;
}

.content-b-l-m b {
	width: 222px;
	padding-left: 21px;
	display: inline-block;
	height: 45px;
	overflow: hidden;
	text-align: center;
	line-height: 45px;
	font-size: 12px;
	cursor: pointer;
	border-left: 1px solid #e5e5e5;
	background: #fff;
	border-right: 1px solid #e5e5e5;
}

.content-b-l-m b input {
	display: inline;
	width: 32px;
	padding: 0 10px;
	text-align: left;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color: #666;
	border: 1px solid #d6d6d6;
	outline: none;
}

.content-b-l-m b a {
	display: inline-block;
	width: 50px;
	height: 24px;
	line-height: 24px;
	background: #dc0f50;
	text-align: center;
	font-size: 12px;
	color: #fff;
	margin: 11px 0 0 15px;
}

.content-b-l-m b input:first-child {
	margin-right: 10px;
}

.content-b-l-m b input:nth-child(2) {
	margin-left: 10px;
}

.content-b-l-m b input:focus {
	border-color: #DC0F50;
}

.content-b-l-m ul {
	padding: 0 10px;
	width: 100%;
	margin-bottom: 0;
	padding-top: 30px;
	background: white;
}

div.ul ul {
	display: none;
}

div.ul ul.on {
	display: block;
}

div.ul ul li {
	padding: 0 10px;
	width: 214px;
	margin-bottom: 30px;
}

div.ul ul li a {
	display: block;
	overflow: hidden;
	position: relative;
}

div.ul ul li a i {
	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	background: url(../img/icon_msg_haiwaigou.png);
	background-size: cover;
}

div.ul ul li a img {
	width: 214px;
	height: 214px;
}

div.ul ul li a>p {
	padding: 5px 0;
	overflow: hidden;
	height: 40px;
	line-height: 20px;
	font-size: 14px;
	color: #333;
	display: block;
}

div.ul ul li a:hover>p {
	color: #DC0F50;
}

div.ul ul li a .a-b-l span {
	height: 24px;
	line-height: 24px;
	font-size: 20px;
	color: #e11f24;
}

div.ul ul li a .a-b>span {
	float: right;
	font-size: 14px;
	color: #999;
	text-decoration: line-through;
}

div.ul ul li a .a-b-l p {
	display: block;
	font-size: 14px;
	color: #666;
}

.content-b-l-b {
	margin-bottom: 30px;
	text-align: center;
	overflow: hidden;
}

.content-b-l-b ul {
	display: inline-block;
	vertical-align: middle;
}

.content-b-l-b ul li {}

.content-b-l-b ul li a {
	display: inline-block;
	padding: 0 15px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #e5e5e5;
	background: #fafafa;
	text-align: center;
	margin-right: 5px;
	font-size: 14px;
	color: #666;
}

.content-b-l-b ul li a.on,
.content-b-l-b ul li a:hover {
	border: 1px solid #dc0f50;
	color: #fff;
	background: #dc0f50;
}

.content-b-l-b span {
	padding-left: 18px;
	line-height: 34px;
	font-size: 14px;
	color: #666;
	margin-right: 10px;
}

.content-b-l-b span input {
	width: 34px;
	height: 34px;
	text-align: center;
	border: 1px solid #e5e5e5;
	margin: 0 3px;
}

.content-b-l-b span a {
	display: inline-block;
	padding: 0 15px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #e5e5e5;
	background: #fafafa;
	text-align: center;
	margin-right: 5px;
	font-size: 14px;
	color: #666;
}

.content-b-l-b span a:hover {
	border: 1px solid #dc0f50;
	color: #fff;
	background: #dc0f50;
}

.content-b-r-t {}

.content-b-r-t h2 {
	font-weight: normal;
	padding-right: 8px;
	font-size: 20px;
	color: #333;
	background: #fff;
	line-height: 24px;
	padding-top: 4px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}

.content-b-r-b {
	width: 233px;
}

.content-b-r-b ul {
	width: 260px;
}

.content-b-r-b ul li {
	height: 80px;
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
	margin-top: -1px;
	overflow: hidden;
	position: relative;
}

.content-b-r-b ul li div.fl {
	position: relative;
}

.content-b-r-b ul li div.fl img {
	width: 80px;
}

.content-b-r-b ul li div.fl span {
	background: url(../img/biao_bg.png) no-repeat;
	display: block;
	width: 25px;
	height: 25px;
	line-height: 18px;
	padding-left: 5px;
	font-size: 12px;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
}

.content-b-r-b ul li div.fl span.er {
	background-position: 0 -26px;
}

.content-b-r-b ul li div.fl span.san {
	background-position: 0 -52px;
}

.content-b-r-b ul li div.fr {
	width: 170px;
}

.content-b-r-b ul li div.fr p {
	color: #333333;
	display: block;
	height: 32px;
	line-height: 16px;
	overflow: hidden;
	font-size: 14px;
	color: #333;
	margin-bottom: 22px;
}

.content-b-r-b ul li div.fr span {
	font-size: 20px;
	color: #dc0f50;
	line-height: 26px;
}


/*猜你喜欢部分*/

.like,
.onTimer,
.onAir {
	margin-top: 40px;
}

.like-t,
.onTimer-t,
.onAir-t {
	border-bottom: 1px solid #DDDDDD;
	padding-right: 8px;
	font-size: 24px;
	color: #333;
	background: #fff;
	line-height: 24px;
	padding-top: 4px;
	font-weight: normal;
	height: 32px;
	overflow: hidden;
	margin-bottom: 30px;
}

.like-t h2,
.onTimer h2,
.onAir-t h2 {
	display: inline-block;
	font-weight: normal;
	padding-right: 8px;
	font-size: 24px;
	color: #333;
	background: #fff;
	line-height: 24px;
	padding-top: 4px;
}

.like-b,
.onTimer-b,
.onAir-b {
	position: relative;
	overflow: hidden;
	height: 300px;
}

.like-b ul,
.onTimer-b ul,
.onAir-b ul {
	position: absolute;
	overflow: hidden;
	padding: 0 25px;
	height: 298px;
	width: 300%;
	left: 0px;
	top: 0px;
}

.like-b ul li,
.onTimer-b ul li,
.onAir-b ul li {
	padding-right: 12px;
}

.like-b ul li a,
.onTimer-b ul li a,
.onAir-b ul li a {
	width: 200px;
	margin: 0px 22px 0 11px;
	overflow: hidden;
	float: left;
	color: #333333;
	position: relative;
}

.onAir-b ul li a b {
	display: block;
	height: 24px;
	margin-top: -24px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	line-height: 24px;
	background: #333;
	position: relative;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.like-b ul li a p,
.onTimer-b ul li a p,
.onAir-b ul li a p {
	padding: 5px 0;
	line-height: 21px;
	height: 40px;
	overflow: hidden;
	font-size: 14px;
	color: #333;
}

.like-b ul li a p:hover,
.onTimer-b ul li a p:hover,
.onAir-b ul li a p:hover {
	color: #DC0F50;
}

.like-b ul li a span,
.onTimer-b ul li a span,
.onAir-b ul li a span {
	line-height: 24px;
	color: #dc0f50;
	font-size: 20px;
}

.like-b ul li a i,
.onTimer-b ul li a i,
.onAir-b ul li a i {
	padding: 0 8px;
	font-size: 12px;
	color: #999;
	text-decoration: line-through;
	line-height: 24px;
}

.like-b ul li a img,
.onTimer-b ul li a img,
.onAir-b ul li a img {
	width: 200px;
	height: 200px;
}

.like-b a.leftBtn,
.onTimer-b a.leftBtn,
.onAir-b a.leftBtn {
	position: absolute;
	width: 30px;
	height: 60px;
	background: url(../img/leftbtn.jpg) -10px 0;
	left: 0;
	top: 27%;
}

.like-b a.rightBtn,
.onTimer-b a.rightBtn,
.onAir-b a.rightBtn {
	position: absolute;
	width: 30px;
	height: 60px;
	background: url(../img/rightbtn.jpg) -10px 0;
	right: 0;
	top: 27%;
}

.like-b a.leftBtn:hover,
.onTimer-b a.leftBtn:hover,
.onAir-b a.leftBtn:hover {
	opacity: 0.8;
}

.like-b a.rightBtn:hover,
.onTimer-b a.rightBtn:hover,
.onAir-b a.rightBtn:hover {
	opacity: 0.8;
}


/*搜索部分*/

div.search {}

div.search div.inner {
	height: 30px;
	padding: 30px 0 30px 0;
	text-align: center;
	margin-bottom: 40px;
	overflow: hidden;
	background: #e5e5e5;
}

div.search div.inner span {
	line-height: 30px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 8px;
	font-size: 16px;
	color: #666;
}

div.search div.inner input {
	vertical-align: middle;
	width: 370px;
	padding: 0 5px;
	border: 1px solid #d6d6d6;
	background: #fff;
	height: 28px;
	line-height: 28px;
	margin-right: 5px;
}

div.search div.inner a {
	vertical-align: middle;
	line-height: 30px;
	display: inline-block;
	width: 70px;
	height: 30px;
	background: #dc0f50;
	text-align: center;
	font-size: 14px;
	color: #fff;
}