#content{}
#content .margin>a{
	font-size: 12px;
	
	line-height: 40px;
	color: #666666;
	margin-left: 16px;
}
#content .margin>a:hover{
	color: #DC0F50;
}
.banner-t {
	border-bottom: 2px solid #dc0f50;
}

.banner-t-l {
	display: block;
	width: 193px;
	cursor: pointer;
	/*border-bottom: 2px solid #dc0f50;*/
	margin-right: 30px;
	height: 40px;
	overflow: hidden;
	line-height: 40px;
	float: left;
	background: #333;
	color: #fff;
	padding: 0 20px;
	margin-left: 2px;
	

}
.banner-t-l.on{
	background: #333 url(../img/nav_b_bg.jpg) no-repeat 203px center;
}
.banner-t-r {}

.banner-t-r ul {
	overflow: hidden;
	float: left;
	width: 900px;
	height: 40px;
}

.banner-t-r ul li {
	overflow: hidden;
	padding: 0 16px 0 24px;
	line-height: 40px;
	height: 40px;
	float: left;
}

.banner-t-r ul li a {
	font-size: 18px;
	color: black;
}

.banner-t-r ul li a:hover {
	color: #DC0F50;
}

.banner-t-r ul li:first-child a {
	font-size: 18px;
	color: #DC0F50;
}
.banner-b {}

.banner-b-l {
	position: absolute;
	display: none;
}

.banner-b-l ul {
	padding-bottom: 116px;
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	border-top: 0;
}

.banner-b-l ul li {
	position: relative;
}

.banner-b-l ul li div {
	display: none;
	position: absolute;
	left: 233px;
	width: 200px;
	background-color: #fff;
	z-index: 5;
	padding: 0 0 10px 15px;
	top: 0px;
}

.banner-b-l ul li div a {
	color: #333333;
}

.banner-b-l ul li div a:hover {
	color: #DC0F50;
}

.banner-b-l a.erji {
	display: block;
	padding-left: 20px;
	width: 213px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #333;
	
}

.banner-b-l a.erji:hover {
	color: white;
	background: #DC0F50;
}
.content-t{
	border: 1px solid #D6D6D6;
}
.content-t-l{
	margin: 30px 20px 80px 43px;
}
.content-t-l ul{padding-top: 14px;height: 480px;}
.content-t-l a{
	display: block;
	width: 65px;
	height: 10px;
	background: url(../img/up_down.png) no-repeat center -20px;
}
.content-t-l a:last-child{
	background-position: center -30px; 
}
.content-t-l ul li{cursor: pointer;width: 65px;margin-bottom: 28px;border: 1px solid #FFFFFF;}
.content-t-l ul li.on{border: 1px solid #DC0F50;}
.content-t-l ul li img{width: 100%;}
.content-t-c{
	width: 480px;
	height: 480px;
}
.content-t-r{width: 530px;margin-left: 50px;}
.content-t-r h2{
	font-weight: normal;
	font-size: 20px;
	margin-top: 40px;
	color: #333333;
	border-bottom: 1px solid #D6D6D6;
	line-height: 30px;
}
.content-t-r h2 i{
	
	line-height: 26px;
	padding: 5px 0;
	padding-left: 90px;
	background: url(../img/plane_bg.png) no-repeat left center;
	
}
.content-t-r-b{}
.content-t-r-b p:first-child{
	line-height: 44px;
	color: #DC0F50;
	font-size: 30px;
}
.content-t-r-b p+p{
	color: #666;
	text-decoration: line-through;
	line-height: 20px;
	margin-bottom: 20px;
	font-size: 18px;
}
.content-t-r-b span:nth-child(3){
	color: #666666;
	display: block;
	margin-bottom: 25px;
	font-size: 12px;
}
.content-t-r-b span:nth-child(3) i{
	margin-left: 18px;
}
.content-t-r-b span:nth-child(4){
	color: #666666;
	font-size: 12px;
	display: block;
	padding-bottom: 18px;
	
}
.content-t-r-b span:nth-child(4) i{
	margin-left: 44px;
}

.content-t-r-b span:nth-child(5){
	color: #666666;
	display: block;
	font-size: 12px;
	line-height: 19px;
}
.content-t-r-b span:nth-child(5) button{
	background: #f2f2f2;
	border: none;
	border: 1px solid #D6D6D6;
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}
.content-t-r-b span:nth-child(5) button:first-child{
	margin-right: 0;
	margin-left: 16px;
}
.content-t-r-b span:nth-child(5) input{
	height: 16px;
	width: 30px;
	border-bottom: 1px solid #D6D6D6;
	padding-bottom: 1px;
	border-top: 1px solid #D6D6D6;
	padding-left: 24px;
	vertical-align: middle;
}
.content-t-r-b span:nth-child(5) i{
	color: #DC0F50;
	margin: 0 6px;
}
.content-t-r-b b{
	display: inline-block;
	background: url(../img/jian.png)no-repeat left center;
	padding-left: 18px;
	height: 18px;
	line-height:18px ;
	background-size: 18px 18px;
	font-size: 14px;
	margin-top: 14px;
	margin-right: 34px;
	margin-bottom: 20px;
	
}
.content-t-r-b b:nth-child(7){
	background: url(../img/you.png)no-repeat left center;
	background-size: 18px 18px;
}
.content-t-r-b b:nth-child(8){
	background: url(../img/tui.png)no-repeat left center;
	background-size: 18px 18px;
}
.content-t-r-b b:last-child{
	padding-left: 24px;
	line-height: 20px;
	height: 20px;
	margin-left: 22px;
	background: url(../img/icon_1.png)no-repeat left -59px;
}
.content-t-r-b>a{
	background: #fea829;
	color: white;
	padding: 12px 50px;
	
}
.content-t-r-b a+a{
	
	color: white;
	padding: 12px 50px;
	background: #DC0F50 url(../img/news_car.png) no-repeat 20px center;
	
}
.content-b{
	margin-top: 20px;
	border: 1px solid #D6D6D6;
}
.content-b-t{border-bottom: 1px solid #D6D6D6;height: 38px;}
.content-b-t span{
	margin-top: -1px;
	border-bottom: 1px solid #D6D6D6;
	display: inline-block;
	line-height: 38px;
	padding: 0 46px;
	background: #f5f5f5;
	border-top: 1px solid #D6D6D6;
	font-size: 18px;
	cursor: pointer;
}
.content-b-t span.on{
	
	background: white;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #DC0F50;
	color: #DC0F50;
	border-right: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
	
}
.content-b-t span:first-child.on{
	border-left:0;
}
.content-b-b{margin-top: 60px;}
.content-b-b div.on{
	display: block;
}

.content-b-b .detail{
	margin-bottom: 60px;
	text-align: center;
	display: none;
	
}
.content-b-b .argument{
	display: none;
}
.content-b-b .argument ul{
	margin-left: 45px;
	color: #666666;
	font-size: 12px;
	margin-bottom: 100px;
}
.content-b-b .argument ul li{
	margin-bottom: 30px;
	
}
.content-b-b .argument ul li span{
	width: 108px;
}
.content-b-b .problem{
	display: none;
}
.content-b-b .problem dl{
	margin-left: 45px;
	padding-bottom: 40px;
	font-size: 14px;
}
.content-b-b .problem dl dt{
	color: #DC0F50;
	margin-bottom: 16px;
}
.content-b-b .problem dl dd{
	margin-bottom: 48px;
}













