#content {}

.banner {}

.banner-t {
	border-bottom: 2px solid #dc0f50;
}

.banner-t-l {
	display: block;
	width: 193px;
	cursor: pointer;
	/*border-bottom: 2px solid #dc0f50;*/
	margin-right: 30px;
	height: 40px;
	overflow: hidden;
	line-height: 40px;
	float: left;
	background: #333;
	color: #fff;
	padding: 0 20px;
}

.banner-t-r {}

.banner-t-r ul {
	overflow: hidden;
	float: left;
	width: 900px;
	height: 40px;
}

.banner-t-r ul li {
	overflow: hidden;
	padding: 0 16px 0 24px;
	line-height: 40px;
	height: 40px;
	float: left;
}

.banner-t-r ul li a {
	font-size: 18px;
	color: black;
}

.banner-t-r ul li a:hover {
	color: #DC0F50;
}

.banner-t-r ul li:first-child a {
	font-size: 18px;
	color: #DC0F50;
}

.banner-b {}

.banner-b-l {}

.banner-b-l ul {
	padding-bottom: 116px;
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	border-top: 0;
}

.banner-b-l ul li {
	position: relative;
}

.banner-b-l ul li div {
	display: none;
	position: absolute;
	left: 234px;
	width: 200px;
	background-color: #fff;
	z-index: 5;
	padding: 0 0 10px 15px;
	top: 0px;
}

.banner-b-l ul li div a {
	color: #333333;
}

.banner-b-l ul li div a:hover {
	color: #DC0F50;
}

.banner-b-l a.erji {
	display: block;
	padding-left: 20px;
	width: 213px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #333;
}

.banner-b-l a.erji:hover {
	color: white;
	background: #DC0F50;
}

.banner-b-c {
	margin-left: 6px;
}

.banner-b-c-t {
	width: 714px;
	height: 382px;
}

.banner-b-c-t span {
	border-radius: 50%;
	color: white;
	background: #333333;
}

.banner-b-c-t span.on {
	background: #DC0F50;
}

.banner-b-c-b {}

.banner-b-c-b img {
	width: 355px;
	display: inline-block;
}

.banner-b-r {}

.banner-b-r-t {
	margin-top: 20px;
	text-align: center;
	border: 1px solid #e5e5e5;
	width: 230px;
	margin-bottom: 10px;
}
.banner-b-r-t b{display: inline-block;}
.banner-b-r-t b i{}
.banner-b-r-t span {
	width: 40px;
	height: 40px;
	display: inline-block;
	background: url(../img/dome_07.png);
}

.banner-b-r-t p {
	display: block;
	line-height: 24px;
	font-size: 12px;
	color: #333;
}

.banner-b-r-t a.denglu {
	display: block;
	text-align: center;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background: #dc0f50;
	color: #fff;
	font-size: 16px;
	margin: 0 auto;
}

.banner-b-r-t a:last-child {
	position: relative;
	right: -70px;
	color: #333;
	font-size: 12px;
}

.banner-b-r-t a:last-child:hover {
	color: #DC0F50;
}

.banner-b-r-m {
	padding-left: 13px;
	overflow: hidden;
	height: 141px;
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

.banner-b-r-m p {
	padding: 18px 0 18px 50px;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	color: #666;
	font-weight: bold;
	background: url(../img/mobile.png) no-repeat 10px center;
}

.banner-b-r-m a {
	margin-right: 15px;
	display: inline-block;
	line-height: 15px;
	color: #333;
	text-align: center;
	font-size: 12px;
}

.banner-b-r-m a.yi {
	margin-left: 15px;
}

.banner-b-r-m a span {
	display: block;
	width: 26px;
	height: 20px;
	background: url(../img/icon_2.png) no-repeat;
	margin: 2px auto;
	margin-bottom: 5px;
}

.banner-b-r-m a.er span {
	background-position: 0 -20px;
}

.banner-b-r-m a.san span {
	background-position: 0 -40px;
}

.banner-b-r-m a:last-child span {
	background-position: 0 -60px;
}

.banner-b-r-m a:hover {
	color: #DC0F50;
}

.banner-b-r-m a.yi:hover span {
	background-position: right 0;
}

.banner-b-r-m a.er:hover span {
	background-position: right -20px;
}

.banner-b-r-m a.san:hover span {
	background-position: right -40px;
}

.banner-b-r-m a:last-child:hover span {
	background-position: right -60px;
}

.banner-b-r-b {
	border: 1px solid #E5E5E5;
}

.banner-b-r-b p {
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	background: #dc0f50;
	padding: 0 12px;
	color: #fff;
	font-size: 16px;
}

.banner-b-r-b a {
	width: 110px;
	display: inline-block;
	margin: 24px 0;
}

.banner-b-r-b a {
	margin-left: 2px;
}

.banner-b-r-b a img {
	width: 100%;
}

.banner-b-r-b a span {
	display: block;
	margin-top: 10px;
	background: #dc0f50;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	font-size: 12px;
	color: #fff;
}

.like,
.onTimer,
.onAir {
	margin-top: 40px;
}

.like-t,
.onTimer-t,
.onAir-t {
	border-bottom: 1px solid #DDDDDD;
	padding-right: 8px;
	font-size: 24px;
	color: #333;
	background: #fff;
	line-height: 24px;
	padding-top: 4px;
	font-weight: normal;
	height: 32px;
	overflow: hidden;
	margin-bottom: 30px;
}

.like-t h2,
.onTimer h2,
.onAir-t h2 {
	display: inline-block;
	font-weight: normal;
	padding-right: 8px;
	font-size: 24px;
	color: #333;
	background: #fff;
	line-height: 24px;
	padding-top: 4px;
}

.like-b,
.onTimer-b,
.onAir-b {
	position: relative;
	overflow: hidden;
	height: 300px;
}

.like-b ul,
.onTimer-b ul,
.onAir-b ul {
	position: absolute;
	overflow: hidden;
	padding: 0 25px;
	height: 298px;
	width: 300%;
	left: 0px;
	top: 0px;
}

.like-b ul li,
.onTimer-b ul li,
.onAir-b ul li {
	padding-right: 12px;
}

.like-b ul li a,
.onTimer-b ul li a,
.onAir-b ul li a {
	width: 200px;
	margin: 0px 22px 0 11px;
	overflow: hidden;
	float: left;
	color: #333333;
	position: relative;
}

.onAir-b ul li a b {
	display: block;
	height: 24px;
	margin-top: -24px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	line-height: 24px;
	background: #333;
	position: relative;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.like-b ul li a p,
.onTimer-b ul li a p,
.onAir-b ul li a p {
	padding: 5px 0;
	line-height: 21px;
	height: 40px;
	overflow: hidden;
	font-size: 14px;
	color: #333;
}

.like-b ul li a p:hover,
.onTimer-b ul li a p:hover,
.onAir-b ul li a p:hover {
	color: #DC0F50;
}

.like-b ul li a span,
.onTimer-b ul li a span,
.onAir-b ul li a span {
	line-height: 24px;
	color: #dc0f50;
	font-size: 20px;
}

.like-b ul li a i,
.onTimer-b ul li a i,
.onAir-b ul li a i {
	padding: 0 8px;
	font-size: 12px;
	color: #999;
	text-decoration: line-through;
	line-height: 24px;
}

.like-b ul li a img,
.onTimer-b ul li a img,
.onAir-b ul li a img {
	width: 200px;
	height: 200px;
}

.like-b a.leftBtn,
.onTimer-b a.leftBtn,
.onAir-b a.leftBtn {
	position: absolute;
	width: 30px;
	height: 60px;
	background: url(../img/leftbtn.jpg) -10px 0;
	left: 0;
	top: 27%;
}

.like-b a.rightBtn,
.onTimer-b a.rightBtn,
.onAir-b a.rightBtn {
	position: absolute;
	width: 30px;
	height: 60px;
	background: url(../img/rightbtn.jpg) -10px 0;
	right: 0;
	top: 27%;
}

.like-b a.leftBtn:hover,
.onTimer-b a.leftBtn:hover,
.onAir-b a.leftBtn:hover {
	opacity: 0.8;
}

.like-b a.rightBtn:hover,
.onTimer-b a.rightBtn:hover,
.onAir-b a.rightBtn:hover {
	opacity: 0.8;
}

.onTimer-b ul li a b {
	width: 60px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	background: #dc6c8f;
	position: absolute;
	right: 0;
	top: 174px;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	margin: 0;
}

.onTimer-b ul li a .a-b-l {
	width: 140px;
}

.onTimer-b ul li a .a-b-r {
	width: 51px;
	height: 51px;
	padding: 4px;
	background: #ea2e2f;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 210px;
	font-size: 20px;
	color: #fff;
	line-height: 25px;
	text-align: center;
	font-weight: normal;
}

.onTimer-t p {
	display: inline-block;
	font-size: 16px;
	color: #333;
	margin-left: 20px;
	padding: 12px 0 0 0;
	line-height: 20px;
}

.onTimer-t p,
.onTimer-t h2 {
	margin-top: -4px;
}

.onTimer-t p span {
	background: black;
	color: white;
	padding: 0px 5px;
	margin-left: 10px;
}

.floor {
	margin-top: 40px;
}

.floor-t {}

.floor-t h2:first-child {
	margin-bottom: 20px;
	font-weight: normal;
	width: 890px;
}

.floor-t h2:last-child {
	padding-bottom: 9px;
	margin-bottom: 10px;
	font-size: 20px;
	float: left;
	padding-right: 8px;
	font-weight: normal;
	color: #333;
	background: #fff;
	line-height: 24px;
	padding-top: 4px;
	width: 300px;
	border-bottom: 1px solid #DDDDDD;
}

.floor-b {}

.floor-b-l {
	width: 300px;
}

.floor-b-l-t {}

.floor-b-l-t a {
	display: block;
}

.floor-b-l-t a img {
	width: 100%;
}

.floor-b-l-b {
	margin-top: 30px;
}

.floor-b-l-b li {}

.floor-b-l-b li a {
	display: block;
	width: 80px;
	border: 1px solid #e5e5e5;
	height: 28px;
	overflow: hidden;
	float: left;
	margin: 0 6px 15px 7px;
}

.floor-b-l-b li img {
	width: 80px;
}

.floor-b-c {
	margin-left: 6px;
}

.floor-b-c-t {
	width: 580px;
	height: 310px;
}

.floor-b-c-b {}

.floor-b-c-b a {}

.floor-b-c-b a img {
	width: 190px;
}

.floor-b-r {}

.floor-b-r ul {
	width: 300px;
}

.floor-b-r ul li {
	height: 80px;
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
	margin-top: -1px;
	overflow: hidden;
	position: relative;
}

.floor-b-r ul li div.fl {
	position: relative;
}

.floor-b-r ul li div.fl img {
	width: 80px;
}

.floor-b-r ul li div.fl span {
	background: url(../img/biao_bg.png) no-repeat;
	display: block;
	width: 25px;
	height: 25px;
	line-height: 18px;
	padding-left: 5px;
	font-size: 12px;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
}

.floor-b-r ul li div.fl span.er {
	background-position: 0 -26px;
}

.floor-b-r ul li div.fl span.san {
	background-position: 0 -52px;
}

.floor-b-r ul li div.fr {
	width: 203px;
}

.floor-b-r ul li div.fr p {
	color: #333333;
	display: block;
	height: 32px;
	line-height: 16px;
	overflow: hidden;
	font-size: 14px;
	color: #333;
	margin-bottom: 22px;
}

.floor-b-r ul li div.fr span {
	font-size: 20px;
	color: #dc0f50;
	line-height: 26px;
}

.stairs {
	position: fixed;
	left: 0;
	top: 40%;
	display: none;
}

.stairs ul {
	border-top: 1px dashed #666666;
}

.stairs ul li span:last-child {
	display: none;
}

.stairs ul li {
	cursor: pointer;
	width: 30px;
	height: 30px;
	color: #666666;
	border-bottom: 1px dashed #666666;
	line-height: 30px;
	text-align: center;
}

.stairs ul li:hover span:first-child {
	display: none;
}

.stairs ul li:hover span:last-child {
	display: inline;
}

.stairs ul li.on {
	color: #DC0F50;
}

.stairs ul li.on span:first-child {
	display: none;
}

.stairs ul li.on span:last-child {
	display: inline;
}

.stairs ul li:hover {
	background: #DC0F50;
	color: white;
}